<div class="row">
	<div class="col-md-12">
		使用者姓名：<%= @user.name %> <br>
		角色名稱：<%= @character.name %> <br>
		角色裝備：
		
		<% @equips.each do |eq| %>
			<%= eq.item.name %>
		<% end %>

		<br>

	</div>

	<div class="col-md-12">
		<%= link_to '找人幹架' ,search_for_monsters_path,class:"btn btn-info" %>
	</div>
</div>